@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background: url('./img/hero-img.svg') no-repeat center center/cover;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero {
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 200px;
}
.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
nav{
    padding:0 50px;
}
.custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 0.5px solid;
}
.icon-p{
    padding-left: 12px;
}
.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.cta {
    background: none;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.burger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}
