@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.custom-header {
    background: url('./img/hero-img.svg') no-repeat center center/cover;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 545px;
}
.hero {
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 200px;
}
.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
nav{
    padding:0 50px;
}
.custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 0px;
    border-bottom: 0.5px solid;
}
.icon-p{
    padding-left: 12px;
}
.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.cta {
    background: none;
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
}

.burger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
/*  section--2--css  */
.custom-heading {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 112px;
    margin-bottom: 112px;
}
.custom-heading h1 {
    font-size: 24px;
    margin: 0;
}
.custom-heading p {
    text-align: center;
    font-size: 14px;
    color: #666;
    width: 556px;
}
.red-line {
    width: 50px;
    height: 2px;
    background-color: red;
    margin: 10px auto;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 112px;
}
.content div {
    max-width: 400px;
    text-align: center;
}
.custom-size {
    font-size: 20px;
    color: #000;
    padding-bottom: 24px;
}
.custom-ul {
    list-style-type: disc;
    padding-left: 20px;
}
.custom-ul li {
    font-weight: 400;
    padding-bottom:24px;
    font-size: 14px;
    
}
.image {
    margin-top: 20px;
}
.image img {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 0 37px;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
}
.deep-dive {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./img/bridge-image.svg') no-repeat center center/cover;
}
.text {
    font-size: 112px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.deep-dive-section{
    padding: 97px 0;
}


@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content div {
        max-width: 90%;
        text-align: center;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}
